.button {
    box-shadow: var(--shadow);
    padding: 0 1rem;
    line-height: 2.5;
    background-color: var(--colors-ui-base);
    color: var(--colors-text);
    display: flex;
    align-items: center;
    gap: 0.75rem;
    border-radius: var(--radius);
}