
.country-card {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
    transition: 0.5s;
    overflow: hidden;

    &__flag {
        width: 100%;
    }
    
    &__title {
        font-size: 24px;
        text-align: center;
        margin-bottom: 8px;
    }

    &__desc {
        padding: 14px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}