@import "../../../../src/main/utils/styles/variables";

.tag {
    padding: 0 1rem;
    background-color: var(--colors-ui-base);
    cursor: pointer;
    line-height: 1.5;
    box-shadow: var(--shadow);
}