@import "../../../main/utils/styles/variables";

.input-group {
    box-shadow: $box-shadow;

    &:has(.input-left-element) {
        .input {
            box-shadow: none;
            border-radius: 0 $border-radius $border-radius 0;
        }
    }

}