.input-group {
    display: flex;
    box-shadow: var(--shadow);
    border-radius: 14px;
    overflow: hidden;

    // &:has(.input-left-element) { don`t worked in mozzila :(
    //     .input {
    //         box-shadow: none;
    //         border-radius: 0 $border-radius $border-radius 0;
    //     }
    // }
    
    & * {
        box-shadow: none;
        border-radius: 0;
    }

}