@font-face {
    font-family: "Nunito Sans";
    src: url("../../../presentation/assets/fonts/NunitoSans-Black.ttf") format("ttf");
    font-weight: 400;
}


@font-face {
    font-family: "Nunito Sans";
    src: url("../../../presentation/assets/fonts/NunitoSans-SemiBold.ttf") format("ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Nunito Sans";
    src: url("../../../presentation/assets/fonts/NunitoSans-Bold.ttf") format("ttf");
    font-weight: 700;
}

